<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<pay360>
				<active>1</active>
				<model>Pay360\Payments\Model\Standard</model>
                <iframe_width>600</iframe_width>
                <iframe_height>400</iframe_height>
				<order_status>pending</order_status>
                <payment_type>hpp</payment_type>
                <description>You will be redirected to Pay360 Website when you place an order.</description>
                <payment_action>AUTHORIZATION</payment_action>
				<title>Pay360</title>
				<allowspecific>0</allowspecific>
			</pay360>
		</payment>
	</default>
</config>
