<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="pay360" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Pay360 Payments</label>
                <field id="version" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Version</label>
                    <frontend_model>Pay360\Payments\Block\System\Config\Version</frontend_model>
                </field>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="3ds" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="select">
					<label>Enable 3DS V2</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
				</field>
				<field id="payment_type" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
					<label>Display Type</label>
					<source_model>Pay360\Payments\Model\Source\PaymentType</source_model>
				</field>
				<field id="iframe_width" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
					<label>iFrame Width</label>
                    <depends>
                        <field id="payment_type">hpf</field>
                    </depends>
				</field>
				<field id="iframe_height" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
					<label>iFrame Height</label>
                    <depends>
                        <field id="payment_type">hpf</field>
                    </depends>
				</field>
				<field id="api_user" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
					<label>API Username</label>
				</field>
				<field id="api_password" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="password">
					<label>API Password</label>
				</field>
				<field id="installation_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="text">
					<label>Installation ID</label>
				</field>
				<field id="test" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="select">
					<label>Test Mode</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="debug" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="select">
					<label>Enable Debug</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="payment_action" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="select">
					<label>Payment Action</label>
					<source_model>Pay360\Payments\Model\Source\PaymentAction</source_model>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="select">
					<label>New Order Status for Captured Transaction</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <depends>
                        <field id="payment_action">AUTHNCAPTURE</field>
                    </depends>
				</field>
				<field id="order_status_auth" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="select">
					<label>New Order Status for Authorized Transaction</label>
					<source_model>Pay360\Payments\Model\Source\OrderStatus</source_model>
                    <depends>
                        <field id="payment_action">AUTHONLY</field>
                    </depends>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="description" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="text">
					<label>Description</label>
				</field>
				<field id="skin_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="150" translate="label" type="select">
					<label>Skin Code</label>
					<source_model>Pay360\Payments\Model\Source\SkinCodes</source_model>
				</field>
				<field id="custom_skin_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="160" translate="label" type="text">
					<label>Custom Skin Code</label>
					<comment>Custom Skin Code will override skin code selected from the dropdown</comment>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="170" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="180" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="190" translate="label" type="text">
					<label>Sort Order</label>
				</field>
			</group>
		</section>
	</system>
</config>
